{% extends "base.html" %}

{% block content %}

    <h2>Recent articles from {{ site.site_title }}</h2>

    {% for article in recent_articles %}
        <a href="{{ article.link }}">
            {{ article.title }}
        </a>
        <br>
        <br>
    {% endfor %}
{% endblock %}
